<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= user.username %>'s Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/style.css" />
    <script src="main.js"></script>
</head>
<body dir="rtl">
    <nav class="navbar navbar-expand-lg navbar-dark background">
        <a class="navbar-brand" href="/">وبلاگ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/logout" tabindex="-1" aria-disabled="true">خروج</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <div class="container text-right p-0">
        <div class="row p-0">
            <div class="col-8 p-0" style="background-color: blue;">
                <div class="col-6 m-0">
                    <% if (editable) { %>
                        <div class="d-flex justify-content-between">
                            <span>نام کاربری:</span>
                            <input type="text" name="username" id="username" value=<%= user.username %>>
                        </div>
                    <% } else { %>
                        <div class="d-flex justify-content-between">
                            <span>نام کاربری:</span>
                            <span class="text-left"><%= user.username %></span>
                        </div>
                    <% } %>
                </div>
                <div class="col-6 m-0">
                    <% if (editable) { %>
                        <div class="d-flex justify-content-between">
                            <span>نام:</span>
                            <input type="text" name="fname" id="fname" value=<%= user.fname %>>
                        </div>
                    <% } else { %>
                        <div class="d-flex justify-content-between">
                            <span>نام:</span>
                            <span class="text-left"><%= user.lname %></span>
                        </div>
                    <% } %>
                </div>
                <div class="col-6 m-0">
                    <% if (editable) { %>
                        <div class="d-flex justify-content-between">
                            <span>نام خانوادگی:</span>
                            <input type="text" name="lname" id="lname" value=<%= user.lname %>>
                        </div>
                    <% } else { %>
                        <div class="d-flex justify-content-between">
                            <span>نام خانوادگی:</span>
                            <span class="text-left"><%= user.lname %></span>
                        </div>
                    <% } %>
                </div>
                <div class="col-6 m-0">
                    <% if (editable) { %>
                        <div class="d-flex justify-content-between">
                            <span>شماره:</span>
                            <input type="number" name="mobile" id="mobile" value=<%= user.mobile %>>
                        </div>
                    <% } else { %>
                        <div class="d-flex justify-content-between">
                            <span>شماره:</span>
                            <span class="text-left"><%= user.number %></span>
                        </div>
                    <% } %>
                </div>
                <div class="col-6 m-0">
                    <% if (editable) { %>
                        <div class="d-flex justify-content-between">
                            <span>رمز عبور جدید:</span>
                            <input type="password" name="password" id="newPassword">
                        </div>
                    <% } %>
                </div>
                <div class="col-6 m-0 input-size" contenteditable="false">
                    <% if (editable) { %>
                        <input id="profileEditButton" class="btn btn-primary" type="button" value="تغییر">
                    <% } %>
                </div>
            </div>
            <div class="col-4" style="background-color: red;">
                تغییر عکس
            </div>
        </div>
    </div>
    <!-- <div class="profile fullscreen-vh-2 text-right overflow-hidden">
        <div class="row fullscreen-pcnt overflow-hidden">
            <div class="col-12 fullscreen-pcnt overflow-hidden">
                <div class="col-4 mt-3 pt-3 margin-for-profile-holder profile-height bg-white">
                     <img src="< user.avatar >" alt=""> 
                    <p contenteditable="false">نام کاربری:</p>
                    <div id="username" class="mb-3 col-12 input-size border editor" contenteditable="false">
                        <%= user.username %>
                    </div>
                    <p contenteditable="false">نام:</p>
                    <div id="fname" class="mb-3 col-12 input-size border editor" contenteditable="false">
                        <%= user.fname %>
                    </div>
                    <p contenteditable="false">نام خانوادگی:</p>
                    <div id="lname" class="mb-3 col-12 input-size border editor" contenteditable="false">
                        <%= user.lname %>
                    </div>
                    <p contenteditable="false">شماره:</p>
                    <div id="number" class="mb-3 col-12 input-size border editor" contenteditable="false">
                        <%= user.number %>
                    </div>
                    <div class="mb-3 col-12 input-size border editor" contenteditable="false">
                        <input type="password" name="password" id="password">
                    </div>
                        
                    <div class="col-12 input-size" contenteditable="false">
                        <% if (editable) { %>
                            <input id="profileEditButton" class="btn btn-primary" type="button" value="تغییر">
                            <input type="button" id="profileDone" class="btn btn-warning" value="پایان">
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="container">
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="/scripts/profile.js"></script>
</body>
</html>